<h1>user showページ</h1>
<%= render 'users/register', user: @user %>
<%= render 'books/new',book: @book %>
<div class="col-md-8 offset-md-1">
<h2> Books</h2>
<table class="table table-hover table-inverse">
<thead>
     <tr>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="3"></th>
     </tr>
   </thead>
<!--ユーザーの投稿一覧-->
<% @books.each do |book| %>
<tbody>
<tr>

 <%#= link_to book_path(book.id) do %>
  <%#= image_tag book.get_image %>
  <% #end %>
  <%# if @user.profile_image.attached? %>
  <%#= image_tag @user.profile_image, size: "100x100" %>
<%# else %>
  <%#= image_tag 'no_image', size: "100x100" %>
<%# end %>
<td><%=link_to image_tag(@user.get_profile_image(100,100)),user_path(@user.id) %></td>
<td><%=link_to (book.title),book_path(book.id) %></td>
<td><%= book.body %></td>
</tr>
</div>
</tr>
</tbody>
<%end%>
</table>