<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

 <!--<main>-->
 <!--  <p id="notice"></p>-->
 <!--  <div class='container px-5 px-sm-0'>-->
 <!--   <div class='row'>-->
 <!--   <div class="col-md-3">-->

 <%= render 'users/register', user: @user %>

 <%= render 'books/new',book: @book %>

<!--<div class='col-md-8 offset-md-1'>-->
<table class='table table-hover table-inverse'>
 <thead>
 <tr>
  <th>Title</th>
  <th>Opinion</th>
<th colspan="3"></th>
 </tr>
 </thead>

<h2>Books</h2>
<% @books.each do |book|%>
<tbody>
<tr>
  <%#= link_to book_path(book.id) do %>
    <%#= image_tag book.get_image %>
  <% #end %>
<td>
 <th><%= image_tag book.user.get_profile_image(100,100) %></th>
</td>
  <th><%=link_to (book.title),book_path(book.id) %></th>
  <th><%= book.body %></th>

 </tr>

</tbody>
<%end%>
</table>
  </div>
  </div>
</div>